.title {
    padding-right: 32px;
    position: relative;
    cursor: pointer;
    line-height: 1.3;
}

.title:after {
    position: absolute;
    display: block;
    content: " ";
    width: 24px;
    height: 24px;
    top: -2px;
    right: 0;
    background: url(./more-is-less-down.svg) 50% 50% no-repeat;
}

.open .title:after {
    background-image: url(./more-is-less-up.svg);
}

.answer {
    overflow: hidden;
    transition: all linear 300ms;
    margin-top: 9px;
}

.closed .answer {
    max-height: 0 !important;
}