.main {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+60,eefafd+61,eefafd+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 60%, #eefafd 61%, #eefafd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 60%,#eefafd 61%,#eefafd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ffffff 0%,#ffffff 60%,#eefafd 61%,#eefafd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eefafd',GradientType=1 ); /* IE6-9 */
}

@media (max-width: 640px) { /* mobile landscape to to mobile portrait */
    .main {
        background: none;
    }
}