.main {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+34,eefafd+34,eefafd+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 34%, #eefafd 34%, #eefafd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 34%,#eefafd 34%,#eefafd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ffffff 0%,#ffffff 34%,#eefafd 34%,#eefafd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eefafd',GradientType=1 ); /* IE6-9 */
    min-height: calc(100vh - 88px - 273px); /* vieport - header height - footer height = sticky footer */
}

@media (max-width: 960px) { /* tablet 9" portrait to tablet 7" landscape */
    .main {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,eefafd+50,eefafd+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 50%, #eefafd 50%, #eefafd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 50%,#eefafd 50%,#eefafd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ffffff 0%,#ffffff 50%,#eefafd 50%,#eefafd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eefafd',GradientType=1 ); /* IE6-9 */
    }
}

@media (max-width: 640px) { /* mobile landscape to to mobile portrait */
    .main {
        background: none;
    }
}