@import '../layout/variables.css';

.main {
    height: 88px;
    border-bottom: 8px solid;
    border-color: #42c8f4;
    border-color: var(--bright-cyan);
    position: relative;
}

.flex {
    display: flex;
}

.logo {
    display: block;
    width: 184px;
    height: 48px;
    margin: 20px 0 0 0;
}

.nav {
    display: flex;
    margin: 31px 0 0 64px;
}

.nav_link {
    font-size: 0.929em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    color: var(--black);
    margin-right: 41px;
    height: 18px;
}

.nav_link:last-child {
    margin-right: 0;
}

.nav_link[aria-current="page"], .nav_link.active {
    color: #00adee;
    color: var(--azure);
}

.menuButton {
    display: none;
    margin: 24px 33px 24px 0;
    background: none;
    border: 0;
}

.menuButton:focus {
    outline: none;
}

.checkbox {
    display: none;
}

@media (max-width: 640px) { /* mobile landscape to to mobile portrait */
    .menuButton {
        display: block;
    }

    .nav {
        position: absolute;
        background: #fff;
        width: 100%;
        border-bottom: 8px solid;
        border-color: #42c8f4;
        border-color: var(--bright-cyan);
        left: 0;
        top: 100%;
        margin: 0;
        flex-direction: column;
        max-height: 0;
        transition: max-height 300ms ease-in;
        overflow: hidden;
    }

    .checkbox:checked ~ .nav {
        max-height: 500px;
    }

    .nav_link {
        display: block;
        width: 360px;
        margin: auto !important;
        height: 40px;
        line-height: 40px;
    }
}