@import '../layout/variables.css';

.main {
    height: 88px;
    border-bottom: 8px solid;
    border-color: #42c8f4;
    border-color: var(--bright-cyan);
    overflow: hidden;
}

.flex {
    display: flex;
}

.logo {
    display: block;
    width: 184px;
    height: 48px;
    margin: 20px 0 0 0;
}

.nav {
    display: flex;
    margin: 31px 0 0 64px;
}

.nav_link {
    font-size: 0.929em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    color: var(--black);
    margin-right: 40px;
}

.nav_link[aria-current="page"], .nav_link.active {
    color: #00adee;
    color: var(--azure);
}