:root {
    --column-width: 76px;
    --column-gap: 24px;
    --container-width: 1200px;
}

.container {
    width: var(--container-width);
    margin: auto;
}

.row {
    display: flex;
}

.col {
    padding-left: var(--column-gap);
}

.col-1-of-12 {
    width: var(--column-width);
}

.col-4-of-12 {
    width: calc(var(--column-width) * 4 + var(--column-gap) * 3);
}

.col-8-of-12 {
    width: calc(var(--column-width) * 8);
}
